persons:
  name: persons
  entities:
    - person.candela
    - person.choco

homekit_tado_climates:
  name: HomeKit Tado Climates
  entities:
    - climate.tado_smart_thermostat_ru3393984256
    - climate.tado_smart_thermostat_su3182126080
    - climate.tado_smart_radiator_thermostat_va3363583744
    - climate.tado_smart_radiator_thermostat_va0290656256
    - climate.tado_smart_radiator_thermostat_va2220036096
    - climate.tado_smart_radiator_thermostat_va0612513536
    - climate.tado_smart_radiator_thermostat_va1065432832
    - climate.tado_smart_radiator_thermostat_va2323724032
