{
  "version": 1,
  "minor_version": 1,
  "key": "lovelace.dashboard_mobile",
  "data": {
    "config": {
      "title": "Mobile",
      "views": [
        {
          "title": "Home",
          "path": "home",
          "icon": "mdi:home",
          "cards": [
            {
              "type": "weather-forecast",
              "entity": "weather.forecast_home",
              "show_forecast": false
            },
            {
              "type": "horizontal-stack",
              "cards": [
                {
                  "type": "button",
                  "entity": "scene.chill",
                  "name": "Chill",
                  "icon": "mdi:flower-tulip",
                  "tap_action": {
                    "action": "call-service",
                    "service": "scene.turn_on",
                    "target": {
                      "entity_id": "scene.chill"
                    }
                  }
                },
                {
                  "type": "button",
                  "entity": "scene.cena",
                  "name": "Dinner",
                  "icon": "mdi:food",
                  "tap_action": {
                    "action": "call-service",
                    "service": "scene.turn_on",
                    "target": {
                      "entity_id": "scene.cena"
                    }
                  }
                },
                {
                  "type": "button",
                  "entity": "scene.descanso",
                  "name": "Rest",
                  "icon": "mdi:sleep",
                  "tap_action": {
                    "action": "call-service",
                    "service": "scene.turn_on",
                    "target": {
                      "entity_id": "scene.descanso"
                    }
                  }
                },
                {
                  "type": "button",
                  "name": "Off",
                  "icon": "mdi:lightbulb-off",
                  "tap_action": {
                    "action": "call-service",
                    "service": "light.turn_off",
                    "target": {
                      "entity_id": "light.all_lights"
                    }
                  }
                }
              ]
            },
            {
              "type": "entities",
              "entities": [
                {
                  "entity": "input_select.tado_mode",
                  "name": "Tado"
                },
                {
                  "entity": "input_boolean.guest_mode",
                  "name": "Guest Mode"
                }
              ]
            },
            {
              "type": "entities",
              "title": "Temperatures",
              "entities": [
                {
                  "type": "attribute",
                  "entity": "climate.tado_smart_thermostat_ru3393984256",
                  "attribute": "current_temperature",
                  "name": "Salón",
                  "suffix": "°C"
                },
                {
                  "type": "attribute",
                  "entity": "climate.tado_smart_thermostat_su3182126080",
                  "attribute": "current_temperature",
                  "name": "Bedroom",
                  "suffix": "°C"
                },
                {
                  "type": "attribute",
                  "entity": "climate.tado_smart_radiator_thermostat_va2220036096",
                  "attribute": "current_temperature",
                  "name": "Office",
                  "suffix": "°C"
                },
                {
                  "type": "attribute",
                  "entity": "climate.tado_smart_radiator_thermostat_va3363583744",
                  "attribute": "current_temperature",
                  "name": "Hallway",
                  "suffix": "°C"
                },
                {
                  "type": "attribute",
                  "entity": "climate.tado_smart_radiator_thermostat_va0612513536",
                  "attribute": "current_temperature",
                  "name": "Bathroom",
                  "suffix": "°C"
                }
              ]
            },
            {
              "type": "entities",
              "title": "Humidity",
              "entities": [
                {
                  "type": "attribute",
                  "entity": "climate.tado_smart_thermostat_ru3393984256",
                  "attribute": "current_humidity",
                  "name": "Salón",
                  "suffix": "%"
                },
                {
                  "type": "attribute",
                  "entity": "climate.tado_smart_thermostat_su3182126080",
                  "attribute": "current_humidity",
                  "name": "Bedroom",
                  "suffix": "%"
                },
                {
                  "type": "attribute",
                  "entity": "climate.tado_smart_radiator_thermostat_va2220036096",
                  "attribute": "current_humidity",
                  "name": "Office",
                  "suffix": "%"
                },
                {
                  "type": "attribute",
                  "entity": "climate.tado_smart_radiator_thermostat_va3363583744",
                  "attribute": "current_humidity",
                  "name": "Hallway",
                  "suffix": "%"
                },
                {
                  "type": "attribute",
                  "entity": "climate.tado_smart_radiator_thermostat_va0612513536",
                  "attribute": "current_humidity",
                  "name": "Bathroom",
                  "suffix": "%"
                }
              ]
            },
            {
              "type": "entities",
              "title": "Doors",
              "entities": [
                {
                  "entity": "binary_sensor.eve_door_20ebn9901_door",
                  "name": "Balcony",
                  "icon": "mdi:door"
                },
                {
                  "entity": "binary_sensor.eve_door_20ebn9901_door_2",
                  "name": "Entrance",
                  "icon": "mdi:door"
                }
              ]
            },
            {
              "type": "glance",
              "title": "Presence",
              "entities": [
                {
                  "entity": "{{ ha_primary_person | default('person.primary') }}",
                  "name": "{{ ha_primary_person_display | default('Primary') }}"
                },
                {
                  "entity": "{{ ha_secondary_person | default('person.secondary') }}",
                  "name": "{{ ha_secondary_person_display | default('Secondary') }}"
                }
              ]
            }
          ]
        },
        {
          "title": "Climate",
          "path": "climate",
          "icon": "mdi:thermostat",
          "cards": [
            {
              "type": "thermostat",
              "entity": "climate.tado_smart_thermostat_ru3393984256",
              "name": "Salón"
            },
            {
              "type": "thermostat",
              "entity": "climate.tado_smart_thermostat_su3182126080",
              "name": "Bedroom"
            },
            {
              "type": "thermostat",
              "entity": "climate.tado_smart_radiator_thermostat_va2220036096",
              "name": "Office"
            },
            {
              "type": "thermostat",
              "entity": "climate.tado_smart_radiator_thermostat_va3363583744",
              "name": "Hallway"
            },
            {
              "type": "thermostat",
              "entity": "climate.tado_smart_radiator_thermostat_va0612513536",
              "name": "Bathroom"
            }
          ]
        }
      ]
    }
  }
}
